body{
    font-family: 'Poppins', sans-serif, 'arial';
    margin: 10px;
    padding: 10px;
    background-color: #444444;
    color: black;
}
a{
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
}
a:hover{
    font-weight: bold;
}
.nav{
    display: inline-block;
    float: right;
    padding: 5px;
}
.nav a{
    margin: 5px;
    padding: 5px;
}
#bottom{
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
}