body{

    margin: 10px;
    padding: 10px;
    background-color: burlywood;
}
a{
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
}
a:hover{
    font-weight: bold;
}
.nav{
    display: inline-block;
    float: right;
}