html{
    filter: invert(0);
}
body{

    margin: 0px;
    padding: 0px;
    background-color: burlywood;
}
#backimg{
    background-image: url('pexels-xaviershanley-2067178.jpg');
    height: 100%;
    width: 100%;
    
}
#navbar{
    overflow: auto;
    background-color: #ffccc4;
    background-image: url("pexels-karolina-grabowska-4194842.jpg");
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.container{
    margin: 0;
    padding: 5px;
    position: sticky;
    display: flex;
    justify-content: flex-end;
}
.element{
    text-align: center;
    list-style: none;
    margin: 10px;
    padding: 5px;
}
.element a{
    padding: 3px 20px;
    color: #141850;
    text-decoration: none;
}
nav a:hover{
    font-weight: bold;
    color: black;
}
a:active{
    color: black;
}


.search-container{
    width: 490px;
    display: block;
    margin: 50px auto;
  }
  
  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
      border: 1px solid #008ABF;
      transition
       0.35s ease;
      color: #008ABF;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     }
   }
  
  .search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
  }
#bottom{
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    border: aquamarine;
}
.cardcont{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.maincard{
    display: inline-block;
    height: 150px;
    width: 200px;
    background-color: #f5cac2;
    text-align: center;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 7px rgb(156, 96, 96);
}
.maincard:hover{
    animation: click 1.5s ease;
}
@keyframes click {
    from{
        box-shadow: 3px 4px rgb(175, 106, 106);
    }
    to{
        box-shadow: 0px 0px rgb(175, 106, 106);
    } 
}
div a{
    text-decoration: none;
    color: black;
}
div a:hover{
    font-weight: bold;
}