body {
    margin: 0px;
    padding: 0px;
    background-color:#F7CAC9;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    overflow: scroll;
    text-align: center;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    
}
#backimg{
    background-image: url('diogo-fagundes-J38PQrWoFMU-unsplash.jpg');
    height: 100%;
    width: 100%;
    
}
h2,p,summary:hover{
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration:underline;
}
.anc:hover{
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration:underline;
}
form:hover{
    font-weight: unset;
}
.navbar{
    display: inline-block;
    text-align: left;
    background-color: #d7c5c5;
    border-radius: 10px;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(5px);
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}
.navbar details,a{
    padding: 3px 3px;
    text-decoration: none;
    color:#660000;
}
.button{
    border-radius: 12px;
    color: #370049;
    

}
.button:hover{
    cursor: pointer;
    font-weight: bold;

}
.formlook{
    background-color: #dfcadf;
    padding: 18px;
    margin: 16px;
    border-width: 7px;
    border-style: groove;
    border-radius: 5px;
    border-color: #ffaff5;
}
.search{
    float: right;
    padding: 2px 42px;
    
}
.inpstyle{
    border-width: 6px;
    border-style: groove;
    border-radius: 9px;
    border-color: #ebebeb;
}